body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  font-size: 80%;
  font-family: "arial", "sans-serif";
  background-image: url("http://i1041.photobucket.com/albums/b415/MrBunny_ColdColdGround/ccg_wallpaper1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-color: #000000;
  color: #ffffff;
}
a { color: #aaaaaa; }
a:hover {
  color: #000000;
  background-color: #aaaaaa;
}
h3 {
  margin: 0.8em 0 0.2em 0;
  padding: 0;
}
p {
  margin: 0.4em 0 0.8em 0;
  padding: 0;
}
img {
  color: #000000;
}
#header {
  clear: both;
  float: left;
  width: 100%;
  text-align: center;
}
#header a {
  color: #000000;
}
#header a:hover {
  color: #000000;
  background-color: #000000;
}
.colmask {
  position: relative;
  clear: both;
  max-width: 800px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #222222;
}
.colmask .colleft {
  right: 40%;
  background: #000000;
}
.colmask .col1 {
  width: 56%;
  left: 42%;
}
.colmask .col2 {
  width: 36%;
  left: 46%;
}
.colleft {
  float: left;
  width: 100%;
  position: relative;
}
.col1 {
  float: left;
  position: relative;
  padding: 0 0 1em 0;
  overflow: hidden;
  background-color: #000000;
}
.col2 {
  float: left;
  position: relative;
  padding: 0 0 1em 0;
  overflow: hidden;
}
#footer {
  clear: both;
  float: left;
  width: 100%;
}
#centeredmenu {
  background-color: #000000;
  overflow: hidden;
  position: relative;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#centeredmenu ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}
#centeredmenu li {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 50%;
}
#centeredmenu li a {
  display: block;
  margin: 0 0 0 1px;
  padding: 3px 10px;
  background-color: #000000;
  color: #aaaaaa;
  text-decoration: none;
  line-height: 1.3em;
  font-weight: bold;
}
#centeredmenu li a:hover { 
  color: #000000;
  background-color: #aaaaaa;
}
#centeredmenu li a.selected { color: #ffffff; }
#centeredmenu li a.selected:hover {
  color: #000000;
  background-color: #aaaaaa;
}
#centeredmenu li span { font-family: "Cuprum", "arial", "sans-serif"; }
.date {
  float: right;
  padding-left: 1em;
  font-size: 90%;
}

