body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  font-size: 80%;
  font-family: "arial", "sans-serif";
  background-image: url("ccg_wallpaper1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-color: #000000;
  color: #ffffff;
}
a { color: #888888; }
a:hover {
  color: #000000;
  background-color: #aaaaaa;
  text-decoration: none;
}
h1, h2, h3 {
  margin: 0.8em 0 0.2em 0;
  padding: 0;
}
p {
  margin: 0.4em 0 0.8em 0;
  padding: 0;
}
img {
  margin: 10px 0 5px;
  padding: 0;
}
#header {
  clear: both;
  float: left;
  width: 100%;
  text-align: center;
}
#header h1 { text-align: center; }
#header h1 img {
  display: block;
  top: 0px;
  text-align: center;
}
#layoutdims {
  clear: both;
  background-color: #000000;
  margin: 0;
  padding: 6px 15px;
  text-align: right;
}
.colmask {
  position: relative;
  clear: both;
  max-width: 800px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.colright, .colmid, .colleft {
  float: left;
  width: 100%;
  position: relative;
}
.col1 {
  float: left;
  position: relative;
  padding: 0 0 1em 0;
  overflow: hidden;
  background-color: #000000;
}
.col2, .col3 {
  float: left;
  position: relative;
  padding: 0 0 1em 0;
  overflow: hidden;
}
.rightmenu { background: #222222; }
.rightmenu .colleft {
  right: 40%;
  background: #000000;
}
.rightmenu .col1 {
  width: 56%;
  left: 42%;
}
.rightmenu .col2 {
  width: 36%;
  left: 46%;
}
#footer {
  clear: both;
  float: left;
  width: 100%;
}
#footer p {
  padding: 10px;
  margin: 0;
}
#centeredmenu {
  background-color: #000000;
  overflow: hidden;
  position: relative;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#centeredmenu ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}
#centeredmenu ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 50%;
}
#centeredmenu ul li a {
  display: block;
  margin: 0 0 0 1px;
  padding: 3px 10px;
  background-color: #000000;
  color: #000000;
  text-decoration: none;
  line-height: 1.3em;
}
#centeredmenu ul li a:hover { color: #888888; }
#centeredmenu ul li a.selected { color: #888888; }
#centeredmenu ul li a.selected:hover { color: #888888; }
.date {
  float: right;
  padding-left: 1em;
  font-size: 90%;
}
