body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  background: #ffffff;
  min-width: 600px;
  font-size: 90%;
  background-color: #000000;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: 10px 80px;
  background-attachment: fixed;
  color: #ffffff;
}
a { color: #336699; }
a:hover {
  color: #ffffff;
  background: #336699;
  text-decoration: none;
}
h1, h2, h3 {
  margin: 0.8em 0 0.2em 0;
  padding: 0;
}
p {
  margin: 0.4em 0 0.8em 0;
  padding: 0;
}
img { margin: 10px 0 5px; }
#header {
  clear: both;
  float: left;
  width: 100%;
}
#header { border-bottom: 1px solid #000000; }
#header h1 { text-align: center; }
#layoutdims {
  clear: both;
  background: #eeeeee;
  border-top: 4px solid #000000;
  margin: 0;
  padding: 6px 15px;
  text-align: right;
}
.colmask {
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden;
}
.colright, .colmid, .colleft {
  float: left;
  width: 100%;
  position: relative;
}
.col1 {
  float: left;
  position: relative;
  padding: 0 0 1em 0;
  overflow: hidden;
  background-color: #000000;
}
.col2, .col3 {
  float: left;
  position: relative;
  padding: 0 0 1em 0;
  overflow: hidden;
}
.rightmenu { background: #222222; }
.rightmenu .colleft {
  right: 30%;
  background: #ffffff;
}
.rightmenu .col1 {
  width: 66%;
  left: 32%;
}
.rightmenu .col2 {
  width: 26%;
  left: 36%;
}
#footer {
  clear: both;
  float: left;
  width: 100%;
  border-top: 1px solid #000000;
}
#footer p {
  padding: 10px;
  margin: 0;
}
#centeredmenu {
  float: left;
  width: 100%;
  background: #ffffff;
  border-bottom: 4px solid #000000;
  overflow: hidden;
  position: relative;
}
#centeredmenu ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}
#centeredmenu ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 50%;
}
#centeredmenu ul li a {
  display: block;
  margin: 0 0 0 1px;
  padding: 3px 10px;
  background: #dddddd;
  color: #000000;
  text-decoration: none;
  line-height: 1.3em;
}
#centeredmenu ul li a:hover {
  background: #336699;
  color: #ffffff;
}
#centeredmenu ul li a.active {
  color: #ffffff;
  background: #000000;
  font-weight: bold;
}
#centeredmenu ul li a.active:hover {
  color: #ffffff;
  background: #000000;
  font-weight: bold;
}
