body {
  background-image: url(http://farm4.static.flickr.com/3412/3476197035_8e4cd4c724_b.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #004F8F;
  color: #FFF;
  font: 20px helvetica;
  padding: 400px 150px 150px 150px;
  margin: 200px 100px 100px 100px;
}

h1 {
  color: #FFF;
  font: 36px helvetica;
  margin: 20px;
  padding: 10px;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a, a:visited, a:active, a:hover {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: bold;
  color: #FFA;
}

div {
  display: inline;
  float: left;
}

