<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml-lang="en" lang="en-us">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>{{ page.title }}</title>
<!--[if lt IE 8]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1%28beta3%29/IE9.js" type="text/javascript"></script>
<![endif]-->
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.1/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/coldcoldground.css" type="text/css" media="screen" />
</head>
<body>
<div id="header">
	<h1><img src="banner.jpg" alt="Cold Cold Ground"></img></h1>
	<div id="centeredmenu">
	<ul>
		<li><a href="#">News</a></li>
		<li><a href="#" class="active">Events</a></li>
		<li><a href="#">Band</a></li>
		<li><a href="#">Music</a></li>
		<li><a href="#">Video</a></li>
		<li><a href="#">Photos</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">MySpace</a></li>
		<li><a href="#">Facebook</a></li>
		<li><a href="#">YouTube</a></li>
		<li><a href="#">Twitter</a></li>
	</ul>
	</div>
</div>

<div class="colmask rightmenu">
	<div class="colleft">
		<div class="col1">
			{{ content }}
		</div>
		<div class="col2">
			<!-- Column 2 start -->
			<h2>No CSS hacks</h2>

			<p>The CSS used for this layout is 100% valid and hack free. To overcome Internet Explorer's broken box model, no horizontal padding or margins are used. Instead, this design uses percentage widths and clever relative positioning.</p>
			<h2>SEO friendly</h2>

			<p>The higher up content is in your page code, the more important it is considered by search engine algorithms (see my article on <a href="http://matthewjamestaylor.com/blog/link-source-ordering-seo">link source ordering</a> for more details on how this affects links). To make your website as optimised as possible your main page content must come before the side columns. This layout does exactly that: The the left-hand main page comes first, then the right column (see the nested div structure diagram for more info). The columns can also be configured in the opposite order if required.</p>
			<h2>Full length column background colours</h2>
			<p>In this layout the background colours of each column will always stretch to the length of the longest column. This feature was traditionally only available with table based layouts but now with a little CSS trickery we can do exactly the same with divs. Say goodbye to annoying short columns! You can read my article on <a href="http://matthewjamestaylor.com/blog/equal-height-columns-cross-browser-css-no-hacks">equal height columns</a> if you want to see how this is done.</p>

			<h2>No Images</h2>

			<p>This layout requires no images. Many CSS website designs need images to colour in the column backgrounds but that is not necessary with this design. Why waste bandwidth and precious HTTP requests when you can do everything in pure CSS and XHTML?</p>
			<h2>No JavaScript</h2>
			<p>JavaScript is not required. Some website layouts rely on JavaScript hacks to resize divs and force elements into place but you won't see any of that nonsense here.</p>
			<h2>Resizable text compatible</h2>
			<p>This layout is fully compatible with resizable text. Resizable text is important for web accessibility. People who are vision impaired can make the text larger so it's easier for them to read. It is becoming increasingly more important to make your website resizable text compatible because people are expecting higher levels of web accessibility. Apple have made resizing the text on a website simple with the pinch gesture on their multi-touch trackpad. So far this trackpad is only available on the MacBook Air but it will soon be rolled out to all of their systems. Is your website text-resizing compatible?</p>

			<h2>No Quirks Mode</h2>

			<p>This liquid layout does not require the XML declaration for it to display correctly in older versions of Internet Explorer. This version works without it and is thus never in quirks mode.</p>
			<h2>No IE Conditional Comments</h2>
			<p>Only one stylesheet is used with this layout This means that IE conditional comments are not needed to set extra CSS rules for older versions of Internet Explorer.</p>
			<h2>Browser Compatibility</h2>
			<p>This right menu liquid Layout has been tested on the following browsers:</p>

			<h3>iPhone &amp; iPod Touch</h3>

			<ul>
				<li>Safari</li>
			</ul>
			<h3>Mac</h3>
			<ul>

				<li>Safari</li>
				<li>Firefox</li>

				<li>Opera 9.25</li>
				<li>Netscape 9.0.0.5 &amp; 7.1</li>
			</ul>

			<h3>Windows</h3>
			<ul>
				<li>Firefox 1.5, 2 &amp; 3</li>

				<li>Safari</li>
				<li>Opera 8.1 &amp; 9</li>

				<li>Google Chrome</li>
				<li>Explorer 5.5, 6 &amp; 7</li>
				<li>Netscape 8</li>

			</ul>
			<h2>Valid XHTML strict markup</h2>

			<p>The HTML in this layout validates as XHTML 1.0 strict.</p>
				<h2>This layout is FREE for anyone to use</h2>
			<p>That's right, you don't have to pay anything. Simply view the source of this page and save the HTML onto your computer. My only suggestion is to <a href="http://matthewjamestaylor.com/blog/adding-css-to-html-with-link-embed-inline-and-import">put the CSS into a separate file</a>. If you are feeling generous however, link back to this page so other people can find and use this layout too.</p>
			<h2>Centered menus compatible</h2>

			<p>This layout is fully compatible with my <a href="http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support">cross-browser compatible centered menus</a>.</p>

			<!-- Column 2 end -->
		</div>
	</div>
</div>
<div id="footer">
	<p>Copyright &copy; 2010 Cold Cold Ground. All rights reserved.</p>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5623711-1");
pageTracker._trackPageview();
</script> 
</body>
</html>
